body {
  background-image: url("/img/piratebackground.jpg");
  background-size: cover;
  font-family: 'MedievalSharp', cursive;
  font-size: 30px;
}

h1 {
  text-align: center;
}

img {
  height: 50px;
  width: 50px;
}

.well {
  width: 30%;
  margin: 20px;
}

#player2 {
  display: none;
}

#player1waiting {
  display: none;
}

button {
  margin: 30px;
}

submitbutton {
  text-align: center;
}
